{{!-- Ibrahim Abdullah --}}
{{!-- WEB322 --}}
{{!-- George Tsang --}}
{{!-- iabdullah1@myseneca.ca --}}

<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    {{{body}}}
</body>
</html>
